.oul{
    height: 2rem;
    margin-left: -2rem;
}
.oli{
    float: left;
    list-style: none;
    height: 100%;
    line-height: 2rem;
    margin-left: 1rem;
    font-size: 0.8rem;
}
.active{
    font-size: 1.2rem;
}